
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');

body {
    background-color: gainsboro;
}

header {


    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    filter:drop-shadow(4px, 4px, red);

}